// 基本的なスタイルを記述していくscss

/* 全タグの基本設定（初期化） */
* {
  margin: 0;
  padding: 0;
}

/* 大まかな基本設定 */
body {
  font-size: 15px;
  color: #333;
}

p,
li {
  line-height: 2rem;
}
a {
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}

/* 個別要素 */
// ネスト構造⇒HTML内のある程度まとまった親子関係で書くと楽
.header {
  height: 200px;
  width: 100%;
}

.g_navi {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #eee;
  ul {
    width: 600px; // 120px*5個
    margin: 0 auto;
    overflow: hidden; //floatへの対応
    li {
      width: 120px;
      height: 60px;
      float: left;
      text-align: center;
      a {
        display: block;
        line-height: 60px;
        &:hover {
          // 親セレクタ
          background: rgba(#000, 0.1);
        }
      }
    }
  }
}

.contents {
  width: 1024px;
  margin: 0 auto;
}

.footer {
  padding: 20px;
  width: 100%;
  text-align: center;
}
