/* TOPページ専用css */
@use 'mixins'; // 使用するミックスインを読み込み
@use 'media'; // 定義したメディアクエリ集を読み込む
@use 'base'; // 基本スタイルは共通

// 全てID=TOPの中身に適用する
// 統合ファイル側でのimportが廃止されるため
#top .main_area {
  // 対象：body>div.contents>main.main_area
  section {
    margin-bottom: 30px;
    overflow: hidden; // 要素からはみ出したコンテンツを隠す
    @include mixins.clearfix; // float要素と分離

    h3 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }

    li {
      list-style: disc;
      margin-left: 20px;
    }

    .thumb_img {
      margin: 0 20px 20px 0;
      float: left;
    }
    .left_thumb_para {
      margin-left: 170px;

      @include media.media('sp') {
        margin-left: 0;
      }
    }
    .read_more {
      border: 1px solid #ccc;
      border-radius: 3px;
      background: #f2f2f2;
      float: right;
      padding: 5px 10px;
      text-align: right;
      @include mixins.linkArrow('left', #333);
    }
  }
}
