/* デフォルトフラグとグローバルフラグ */

// デフォルトフラグ：変数のデフォルトを設定
//  デフォルト値⇒上書き運用前提
//  デフォルトフラグ有⇒宣言前に設定された値が優先される
/* 濫用すると可読性が低くなるので注意！ */

/* デフォルトフラグ (!default) */
$width: 300px; //グローバル変数
$height: 100px; //グローバル変数

.default {
  // $width: 33%; // 同名のローカル変数
  $width: 33%;
  $height: 33% !default; // defaultフラグを付与⇒他の同名変数に上書き
  width: $width; // ローカル変数が適用される
  height: $height; // グローバル変数が適用される
}

/* グローバルフラグ (!global) */
// ネスト内（スコープ内のローカル）変数をグローバル変数にできる
// ＊ネスト内からグローバル変数を上書き可能
// ＊ネスト外部から参照可能

// globalフラグのネスト内で初宣言ができないので、グローバル変数＋null宣言で「予約」宣言する
$color: null;

.global {
  $width: 100px !global; //グローバルフラグ付与⇒先に宣言されている「$width: 300px;」の値を上書き
  // $color: #ff0 !global; // ネスト内でのみ宣言（グローバルフラグ付与）
  // ※現行（Dart Sass 2.0.0以降）ルール：globalフラグは既存のグローバル変数の値を上書きすることだけ。
}
.call {
  width: $width; // グローバル変数$widthが上書きされているので100pxの方が適用されている
  color: $color; // .globalスコープの外から呼び出せる
}
