@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-size: 15px;
}

p, li {
  line-height: 2rem;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  min-height: 140px;
  padding-top: 40px;
  padding-bottom: 20px;
  background: url("/img/header_001.jpg") no-repeat center top;
  background-size: cover;
}

.header .title, .header .sub_title {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

.header .sub_title {
  font-size: 1.2rem;
}

.g_navi {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #eee;
}

.g_navi ul {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.g_navi ul li {
  width: 150px;
  height: 60px;
  float: left;
  text-align: center;
}

.g_navi ul li a {
  display: block;
  line-height: 60px;
}

.g_navi ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.contents {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.contents .main_area {
  width: 684px;
  padding: 20px;
  float: left;
}

.contents .side_area {
  width: 260px;
  padding: 20px;
  float: right;
}

.contents .side_area .search_area, .contents .side_area .category_area {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.contents .side_area .search_area h3, .contents .side_area .category_area h3 {
  margin-bottom: 5px;
}

.contents .side_area .search_area {
  margin-bottom: 20px;
}

.contents .side_area .search_area input[type=text] {
  padding: 3px 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 0.9rem;
}

.contents .side_area .search_area button {
  padding: 3px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: linear-gradient(#f2f2f2, #d9d9d9);
}

.contents .side_area .category_area li {
  position: relative;
  padding-right: 20px;
}

.contents .side_area .category_area li + li {
  border-top: 1px solid #eee;
}

.contents .side_area .category_area li a {
  display: block;
  padding: 3px;
}

.contents .side_area .category_area li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.contents .side_area .category_area li::after {
  -webkit-transform: rotate(45deg);
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
          transform: rotate(45deg);
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  content: "";
}

.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
}

#top .main_area section {
  margin-bottom: 30px;
  overflow: hidden;
}

#top .main_area section::after {
  display: block;
  clear: both;
  content: '';
}

#top .main_area section h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#top .main_area section p {
  margin-bottom: 20px;
}

#top .main_area section li {
  margin-left: 20px;
  list-style: disc;
}

#top .main_area section .thumb_img {
  margin: 0 20px 20px 0;
  float: left;
}

#top .main_area section .left_thumb_para {
  margin-left: 170px;
}

#top .main_area section .read_more {
  position: relative;
  padding: 5px 10px;
  padding-left: 20px;
  float: right;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #f2f2f2;
  text-align: right;
}

#top .main_area section .read_more::after {
  -webkit-transform: rotate(45deg);
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
          transform: rotate(45deg);
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  content: "";
}

.pt0 {
  padding-top: 0px;
}

.pb0 {
  padding-bottom: 0px;
}

.pt10 {
  padding-top: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pb50 {
  padding-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
  .header .title, .header .sub_title {
    width: calc(100% - 40px);
  }
  .contents {
    width: 100%;
  }
  .contents .main_area {
    width: calc(100% - 300px - 40px);
  }
  .footer {
    width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 767px) {
  .g_navi {
    position: relative;
    height: 35px;
  }
  .g_navi.show ul {
    border-bottom: 1px solid #eee;
  }
  .g_navi.show ul li {
    display: block;
  }
  .g_navi ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    background: #FFF;
  }
  .g_navi ul::after {
    position: absolute;
    top: 5px;
    left: 20px;
    content: "▼ Menu";
  }
  .g_navi ul li {
    display: none;
    width: calc(100% - 40px);
    height: auto;
    padding: 0 20px;
    float: none;
  }
  .g_navi ul li a {
    line-height: inherit;
  }
  .contents .main_area {
    width: calc(100% - 40px);
    float: none;
  }
  .contents .side_area {
    width: calc(100% - 40px);
    float: none;
  }
  #top .main_area section .left_thumb_para {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
