/* 条件分岐 */
// scssではif文が書ける

@mixin box($type) {
  @if $type == 0 {
    border: 1px solid #333;
  } @else if $type == 1 {
    border: 3px double #f00;
  } @else {
    border: none;
  }
}

// 各分岐で出力
/* $type == 0 */
.box0 {
  @include box(0);
}
/* $type == 1 */
.box1 {
  @include box(1);
}
/* $type == 2 */
.box2 {
  @include box(2);
}

// &&, ||はつかえない
// && ⇒ and
// || ⇒ or
//  not(A==B)
