/* インターポレーション（補間） */
// アニメにおける原画と原画の間の動画（中割）を自動生成する機能
// 記述方法はjs/tsのテンプレートリテラルに近い
// CSSに出力するコメント/*  */内でも変数の結果を出力できる！

@use 'sass:math'; // math.div()を使用するためのモジュールを読み込む

/* プロパティの中身に使う */
$IMG_PATH: '../img/'; // 画像フォルダのパス
// 画像呼び出しで「パス（変数）＋直接指定のファイル名」としたい
.box {
  // background-image: url($IMG_PATHbn.png); // エラー
  background-image: url(#{$IMG_PATH}bn.png); // インターポレーションを使用
}

/* セレクタ名で使う */
$SELECTOR: '.item, .area';
// セレクタに直接変数を指定→エラー
// インターポレーションを使用する
#{$SELECTOR} {
  background-image: url(#{$IMG_PATH}bn.png); // インターポレーションを使用
}

/* 演算を「させない」ために使用 */
.nonCalc {
  // スコープ変数
  $height: 100px;
  $line-count: 10;
  background-image: url(#{$IMG_PATH}bn.png); // インターポレーションを使用
  line-height: math.div($height, $line-count); /* 演算結果 */
  line-height: #{$height} / #{$line-count}; /* 変数の中身を直接出力 */
}

/* 演算不可の場所で演算させる使い方 */
// 例：セレクタ名では演算できない
// インターポレーションを使用⇒演算可能に
//    ※繰り返し処理は後のチャプターで解説
@for $i from 0 to 2 {
  .mt#{$i * 5} {
    // 本来セレクタ内は演算できない→インターポレーションの内部で計算させた結果をセレクタに結合させて出力させてる
    /* $i=#{$i}：#{$i}×5の計算 */
    // 出力コメントに変数を出力可能
    margin-top: $i * 5;
  }
}

/* 変数定義が「''」の場合 */
$text: 'CSS';
.text {
  content: '#{$text} and Sass';
  // 出力時にクオーテーションが重複しないよう、自動調整してくれる
}
